/*
 * M2Factor.PCL
 *
 * This file was automatically generated for 2Factor by APIMATIC BETA v2.0 on 02/18/2016
 */
using System;
using System.Collections.Generic;
using System.Dynamic;
using System.IO;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using APIMATIC.SDK.Common;
using APIMATIC.SDK.Http.Request;
using APIMATIC.SDK.Http.Response;
using APIMATIC.SDK.Http.Client;
using SolvTech.Models;

namespace SolvTech.Controllers
{
    public partial class VOICEOTPController: BaseController
    {
        #region Singleton Pattern

        //private static variables for the singleton pattern
        private static object syncObject = new object();
        private static VOICEOTPController instance = null;

        /// <summary>
        /// Singleton pattern implementation
        /// </summary>
        internal static VOICEOTPController Instance
        {
            get
            {
                lock (syncObject)
                {
                    if (null == instance)
                    {
                        instance = new VOICEOTPController();
                    }
                }
                return instance;
            }
        }

        #endregion Singleton Pattern

        /// <summary>
        /// This endpoint is used to check VOICE OTP balance
        /// </summary>
        /// <param name="apiKey">Required parameter: Check VOICE OTP Balance</param>
        /// <return>Returns the CheckVoiceBalanceModel response from the API call</return>
        public async Task<CheckVoiceBalanceModel> GetCheckVoiceBalanceAsync(
                string apiKey)
        {
            //the base uri for api requestss
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/API/V1/{api_key}/BAL/VOICE");

            //process optional template parameters
            APIHelper.AppendUrlWithTemplateParameters(_queryBuilder, new Dictionary<string, object>()
            {
                { "api_key", apiKey }
            });

            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "2Factor" },
                { "accept", "application/json" }
            };

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Get(_queryUrl,_headers);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request);
            HttpContext _context = new HttpContext(_request,_response);
            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<CheckVoiceBalanceModel>(_response.Body);
            }
            catch (Exception ex)
            {
                throw new APIException("Failed to parse the response: " + ex.Message, _context);
            }
        }

        /// <summary>
        /// This endpoint is used to send Auto Generated VOICE OTP to India
        /// </summary>
        /// <param name="apiKey">Required parameter: API Obtained From 2Factor.in</param>
        /// <param name="phoneNumber">Required parameter: 10 Digit Indian Phone Number</param>
        /// <return>Returns the SendingVoiceOtpAutoGeneratedOtpModel response from the API call</return>
        public async Task<SendingVoiceOtpAutoGeneratedOtpModel> GetSendingVOICEOTPAutoGeneratedOTPAsync(
                string apiKey,
                string phoneNumber)
        {
            //the base uri for api requestss
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/API/V1/{api_key}/VOICE/{phone_number}/AUTOGEN");

            //process optional template parameters
            APIHelper.AppendUrlWithTemplateParameters(_queryBuilder, new Dictionary<string, object>()
            {
                { "api_key", apiKey },
                { "phone_number", phoneNumber }
            });

            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "2Factor" },
                { "accept", "application/json" }
            };

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Get(_queryUrl,_headers);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request);
            HttpContext _context = new HttpContext(_request,_response);
            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<SendingVoiceOtpAutoGeneratedOtpModel>(_response.Body);
            }
            catch (Exception ex)
            {
                throw new APIException("Failed to parse the response: " + ex.Message, _context);
            }
        }

        /// <summary>
        /// This endpoint is used to send VOICE OTP to India
        /// </summary>
        /// <param name="apiKey">Required parameter: API Obtained From 2Factor.in</param>
        /// <param name="otp">Required parameter: 4 Digit ( Numeric ) OTP code to be sent</param>
        /// <param name="phoneNumber">Required parameter: 10 Digit Indian Phone Number</param>
        /// <return>Returns the SendingVoiceOtpModel response from the API call</return>
        public async Task<SendingVoiceOtpModel> GetSendingVoiceOTPCustomOTPAsync(
                string apiKey,
                int otp,
                string phoneNumber)
        {
            //the base uri for api requestss
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/API/V1/{api_key}/VOICE/{phone_number}/{otp}");

            //process optional template parameters
            APIHelper.AppendUrlWithTemplateParameters(_queryBuilder, new Dictionary<string, object>()
            {
                { "api_key", apiKey },
                { "otp", otp },
                { "phone_number", phoneNumber }
            });

            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "2Factor" },
                { "accept", "application/json" }
            };

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Get(_queryUrl,_headers);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request);
            HttpContext _context = new HttpContext(_request,_response);
            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<SendingVoiceOtpModel>(_response.Body);
            }
            catch (Exception ex)
            {
                throw new APIException("Failed to parse the response: " + ex.Message, _context);
            }
        }

        /// <summary>
        /// This endpoint is useful in verifying user entered OTP with sent OTP
        /// </summary>
        /// <param name="apiKey">Required parameter: API Obtained From 2Factor.in</param>
        /// <param name="otpInput">Required parameter: OTP Value input by end user</param>
        /// <param name="sessionId">Required parameter: Verification session id returned in send OTP step</param>
        /// <return>Returns the VerifyVoiceOtpInputModel response from the API call</return>
        public async Task<VerifyVoiceOtpInputModel> GetVerifyVOICEOTPInputAsync(
                string apiKey,
                string otpInput,
                string sessionId)
        {
            //the base uri for api requestss
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/API/V1/{api_key}/VOICE/VERIFY/{session_id}/{otp_input}");

            //process optional template parameters
            APIHelper.AppendUrlWithTemplateParameters(_queryBuilder, new Dictionary<string, object>()
            {
                { "api_key", apiKey },
                { "otp_input", otpInput },
                { "session_id", sessionId }
            });

            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "2Factor" },
                { "accept", "application/json" }
            };

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Get(_queryUrl,_headers);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request);
            HttpContext _context = new HttpContext(_request,_response);
            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<VerifyVoiceOtpInputModel>(_response.Body);
            }
            catch (Exception ex)
            {
                throw new APIException("Failed to parse the response: " + ex.Message, _context);
            }
        }

    }
} 